<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DRSTU</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<!--Navbar Section-->

<body>
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"> <img src="images/sneakers.png"> &nbspDR STU</a>
      <div class="navbar__toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="/apparel.html" class="navbar__links"> <i class="fa-solid fa-shirt"></i> &nbspApparel</a>
        </li>
        <li class="navbar__item">
          <a href="/jordans.html" class="navbar__links"> <img src="static/images/jordan.png"> &nbspJordan</a>
        </li>
        <li class="navbar__item">
          <a href="/dunks.html" class="navbar__links"> <img src="static/images/nike.png"> &nbspDunks</a>
        </li>
        <li class="navbar__btn">
          <a href="/" class="button">Order Now</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--Hero Section-->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>DIRECT REPS STRAIGHT</h1>
        <h2>TO YOU</h2>
        <p>One to one, quality guaranteed.</p>
        <button class="main__btn"><a href="/">Buy Now</a></button>
      </div>
      <div class="gallery-wrap">
        <img src="static/gallery/back.png" id="backBtn">
        <div class="gallery">
            <div>
                <img src="static/gallery/blueberry_dunks.png" alt="">
                <img src="static/gallery/philly_dunks.png" alt="">
                <img src="static/gallery/navy_dunks.png" alt="">
                <img src="static/gallery/coconut_dunks.png" alt="">
                <img src="static/gallery/why_so_sad.png" alt="">
                <img src="static/gallery/fragment_high.png" alt="">
                <img src="static/gallery/hyperroyal.png" alt="">
                <img src="static/gallery/inside_out_craft.png" alt="">
                <img src="static/gallery/off_white_chicago.png" alt="">
                <img src="static/gallery/reverse_mocha.png" alt="">
                <img src="static/gallery/taxi.png" alt="">
            </div>
        </div>
        <img src="static/gallery/next.png" id="nextBtn">
    </div>
    </div>
  </div>

  <!-- Services Section -->
  <div class="services">
    <h1>See what the hype is about</h1>
    <div class="services__container">
      <div class="services__card">
        <h2>Experience Quality</h2>
        <p>Premium Materials</p>
        <a href="static/dunks.html">
          <button>Shop Dunks</button>
        </a>
      </div>
      <div class="services__card">
        <h2>Shop The Best</h2>
        <p>Feel The Luxury</p>
        <a href="static/jordans.html">
          <button>Shop Jordan</button>
        </a>
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/cc6d0b34f8.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>