<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jordans</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!--TOP BAR-->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"> <img src="images/sneakers.png"> &nbspDR STU</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__section">
                <h1>Jordans</h1>
            </ul>
        </div>
    </nav>

    <!--jordans-->
    <div class="jordans">
        <div class="jordans__container">
            <div class="jordans__card">
                <h2>Off-White Chicago Jordan One</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Craft SE Inside Out Jordan 1 Low</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Fragment x Travis Scott x Air Jordan 1 High</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Reverse Mocha Jordan 1 Low</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Taxi Jordan 1 High</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Hyperroyal Jordan 1 High</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Off-White Jordan 4</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>Craft Jordan 4</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
            <div class="jordans__card">
                <h2>White Oreo Jordan 4</h2>
                <p>$35.99</p>
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</body>
</html>